$color__text-main: #1C1C1B;

.lms-jumbo-call-to-action {
	&__title {
		text-align: right;
		text-transform: uppercase;
		font-family: var(--font-call-to-action);
		font-weight: var(--jumbo-weight);
		font-size: 3.5rem;
		color: var(--site-third-color);
		@media (max-width: 992px) {
			text-align: center;
		}
	}

	&__list {
		$list_space: 3rem;
		position: relative;
		margin: 0;
		padding: 0;
		font-family: var(--font-call-to-action);
		margin-left: $list-space;
		li {
			list-style-type: none;
			text-transform: uppercase;
			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					margin-left: calc(-#{$i - 1}rem + 4px);
				}
			}
		}

		&:before {
			content: '';
			height: calc(100% + (#{$list_space} * 2));
			width: $list_space;
			position: absolute;
			top: calc(0% - #{$list_space});
			left: -#{$list_space};
			background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="548.8 550 54 100" enable-background="new 548.8 550 54 100" xml:space="preserve"><path d="M601.8,553.4c-3.7,8.3-7.7,16.4-11.8,24.5c-4,8.1-8.3,16.1-12.5,24.1l-6.5,11.9c-2.2,3.9-4.3,8-6.6,11.9 c-4.4,7.8-9,15.7-13.8,23.3c3.7-8.3,7.7-16.4,11.8-24.5c2-4,4.1-8.1,6.2-12.1l6.3-12c4.3-8,8.6-15.9,13.1-23.7 C592.5,569,597,561.1,601.8,553.4L601.8,553.4" fill="rgb(#{red($color__text-main)},#{green($color__text-main)},#{blue($color__text-main)})" fill-rule="evenodd" /></svg>');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		@media (max-width: 992px) {
			&::before {
				content: none;
			}
			li {
				text-align: center;
			}
		}
	}
}
